<form class='{{cssClass}}' autocomplete='off'>
  {{#> "systems/animabf/templates/common/ui/group.hbs" class="defense-config"}}

    {{>
    "systems/animabf/templates/common/ui/group-header.hbs"
      title=(localize "macros.combat.dialog.defending.defend.title")
    }}

    {{#> "systems/animabf/templates/common/ui/group-body.hbs" class="defense-config"}}

      {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        title=(localize 'macros.combat.dialog.modifier.title')
        inputName="defender.combat.modifier"
        inputValue=this.defender.combat.modifier
      }}

      <nav class="animabf-tabs sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="dodge">{{localize "macros.combat.dialog.dodgeButton.title"}}</a>
        <a class="item" data-tab="block">{{localize "macros.combat.dialog.blockButton.title"}}</a>
        <a class="item" data-tab="shield">{{localize "anima.ui.combat.supernaturalShields.title"}}</a>
        {{#if (is 'gt' this.defender.actor.system.mystic.spells.length 0)}}<a class="item" data-tab="mystic">{{localize "anima.ui.tabs.mystic"}}</a>{{/if}}
        {{#if (is 'gt' this.defender.actor.system.psychic.psychicPowers.length 0)}}<a class="item" data-tab="psychic">{{localize "anima.ui.tabs.psychic"}}</a>{{/if}}
      </nav>

      <section class="sheet-body">

        <div class="tab dodge" data-group="primary" data-tab="dodge">
          <p class="label">{{localize "macros.combat.dialog.dodgeButton.title"}}: {{this.ui.dodgeValue}}</p>

          {{#if this.defenseSent}}
            <div class='defense-sent'>
              {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
              <p class='label'>{{localize 'macros.combat.dialog.defenseSent.title'}}</p>
            </div>
          {{else}}
            <button class='animabf-button send-defense' data-type='dodge'>
              {{localize 'macros.combat.dialog.dodgeButton.title'}}
            </button>
          {{/if}}
        </div>

        <div class="tab block" data-group="primary" data-tab="block">
          {{#if this.defender.combat.unarmed}}
            {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
              title=(localize 'macros.combat.dialog.weapon.title')
              disabled=true
            }}
              <option>Unarmed</option>
            {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
          {{else}}
            {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
              title=(localize 'macros.combat.dialog.weapon.title')
              inputName='defender.combat.weaponUsed'
            }}
              {{#each this.defender.actor.system.combat.weapons}}
                <option {{#if (is 'eq' this._id ../this.defender.combat.weaponUsed)}}selected{{/if}} value='{{this._id}}'>
                  {{localize 'macros.combat.dialog.weaponRow.defense.title' name=this.name value=this.system.block.final.value}}
                </option>
              {{/each}}
            {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
          {{/if}}

          <p class="label">{{localize "macros.combat.dialog.blockButton.title"}}: {{this.ui.blockValue}}</p>

          {{#if this.defenseSent}}
            <div class='defense-sent'>
              {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
              <p class='label'>{{localize 'macros.combat.dialog.defenseSent.title'}}</p>
            </div>
          {{else}}
            <button class='animabf-button send-defense' data-type='block'>
              {{localize 'macros.combat.dialog.blockButton.title'}}
            </button>
          {{/if}}
        </div>

        <div class="tab shield" data-group="primary" data-tab="shield">
          {{#if (isArrayEmpty this.ui.supernaturalShields)}}
            <p class="label">{{localize "macros.combat.dialog.weapon.notFound"}}</p>
          {{else}}
            {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
              title=(localize 'anima.ui.combat.supernaturalShields.title')
              inputName='defender.combat.supernaturalShieldUsed'
            }}
              {{#each this.ui.supernaturalShields as |sh|}}
                <option {{#if (is 'eq' sh._id ../this.defender.combat.supernaturalShieldUsed)}}selected{{/if}} value='{{sh._id}}'>
                  {{sh.name}} ({{sh.value}})
                </option>
              {{/each}}
            {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

            <p class="label">{{localize "anima.ui.combat.defense.title"}}: {{this.ui.shieldValue}}</p>
          {{/if}}

          {{#if this.defenseSent}}
            <div class='defense-sent'>
              {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
              <p class='label'>{{localize 'macros.combat.dialog.defenseSent.title'}}</p>
            </div>
          {{else}}
            <button class='animabf-button send-defense' data-type='shield'>
              {{localize 'macros.combat.dialog.defenseButton.title'}}
            </button>
          {{/if}}
        </div>

        <div class="tab mystic" data-group="primary" data-tab="mystic">
          {{#if this.defender.mystic.supernaturalShield.newShield}}
            {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              title=(localize "macros.combat.dialog.zeonAccumulated.title")
              disabled=true
              inputName="defender.mystic.spellCasting.zeon.accumulated"
              inputValue=this.defender.mystic.spellCasting.zeon.accumulated
            }}
          {{/if}}

          {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
            title=(localize 'macros.combat.dialog.modifier.title')
            disabled=this.defenseSent
            inputName="defender.mystic.modifier"
            inputValue=this.defender.mystic.modifier
          }}

          {{> 'systems/animabf/templates/common/ui/horizontal-titled-input.hbs'
            title=(localize 'macros.combat.dialog.magicProjection.title')
            disabled=this.defenseSent
            inputName='defender.mystic.magicProjection.final'
            inputValue=this.defender.mystic.magicProjection.final
          }}

          {{#if this.defender.mystic.supernaturalShield.newShield}}
            {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
              title=(localize 'macros.combat.dialog.mysticShield.title')
              disabled=this.defenseSent
              inputName='defender.mystic.spellUsed'
            }}
              {{#each this.defender.actor.system.mystic.spells}}
                {{#if (is "eq" this.system.combatType.value "defense")}}
                  <option {{#if (is "eq" this._id ../this.defender.mystic.spellUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
                {{/if}}
              {{/each}}
            {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

            {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
              title=(localize 'macros.combat.dialog.spellGrade.title')
              disabled=this.defenseSent
              inputName='defender.mystic.spellGrade'
            }}
              {{#each this.defender.mystic.attainableSpellGrades}}
                <option {{#if (is "eq" ../this.defender.mystic.spellGrade this)}}selected{{/if}} value='{{this}}'>{{localize (concat 'macros.combat.dialog.spellGrade.' this '.title')}}</option>
              {{/each}}
            {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

            {{#if (and this.defender.mystic.spellCasting.canCast.innate (is 'eq' this.defender.mystic.spellCasting.override false))}}
              <div class='columns'>
                <div>
                  {{>
                    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                    title=(localize 'macros.combat.dialog.castInnate.title')
                    disabled=this.defenseSent
                    inputType="checkbox"
                    inputName="defender.mystic.spellCasting.casted.innate"
                    inputValue=(is 'eq' this.defender.mystic.spellCasting.casted.innate true)
                  }}
                </div>
              </div>
            {{/if}}

            {{#if (and this.defender.mystic.spellCasting.canCast.prepared (is 'eq' this.defender.mystic.spellCasting.override false))}}
              <div class='columns'>
                <div>
                  {{>
                    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                    title=(localize 'macros.combat.dialog.castPrepared.title')
                    disabled=this.defenseSent
                    inputType="checkbox"
                    inputName="defender.mystic.spellCasting.casted.prepared"
                    inputValue=(is 'eq' this.defender.mystic.spellCasting.casted.prepared true)
                  }}
                </div>
              </div>
            {{/if}}
          {{else}}
            {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
              title=(localize 'macros.combat.dialog.mysticShield.title')
              disabled=this.defenseSent
              inputName='defender.mystic.supernaturalShield.shieldUsed'
            }}
              {{#each this.defender.actor.system.combat.supernaturalShields}}
                {{#if (is "eq" this.flags.animabf.supernaturalShield.type "mystic")}}
                  <option {{#if (is "eq" this._id ../this.defender.mystic.supernaturalShield.shieldUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
                {{/if}}
              {{/each}}
            {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

            {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              title=(localize "macros.combat.dialog.shieldValue.title")
              disabled=this.defenseSent
              inputName="defender.mystic.supernaturalShield.shieldValue"
              inputValue=this.defender.mystic.supernaturalShield.shieldValue
            }}
          {{/if}}

          <div class='columns'>
            <div>
              {{>
                "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                title=(localize 'macros.combat.dialog.newShield.title')
                inputType="checkbox"
                inputName="defender.mystic.supernaturalShield.newShield"
                inputValue=(is 'eq' defender.mystic.supernaturalShield.newShield true)
              }}
            </div>
          </div>

          {{#if (and this.defender.mystic.overrideMysticCast this.defender.mystic.supernaturalShield.newShield)}}
            <hr class='hr'/>
            <div class='columns'>
              <div>
                {{>
                  "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                  title=(localize 'macros.combat.dialog.castOverride.title')
                  disabled=this.defenseSent
                  inputType="checkbox"
                  inputName="defender.mystic.spellCasting.override"
                  inputValue=(is 'eq' this.defender.mystic.spellCasting.override true)
                }}
              </div>
            </div>
          {{/if}}

          {{#if this.defenseSent}}
            <div class='defense-sent'>
              {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
              <p class='label'>{{localize 'macros.combat.dialog.defenseSent.title'}}</p>
            </div>
          {{else}}
            <button class='animabf-button send-mystic-defense'>
              {{localize 'macros.combat.dialog.defenseButton.title'}}
            </button>
          {{/if}}
        </div>

        <div class="tab psychic" data-group="primary" data-tab="psychic">
          {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
            title=(localize 'macros.combat.dialog.modifier.title')
            disabled=this.defenseSent
            inputName="defender.psychic.modifier"
            inputValue=this.defender.psychic.modifier
          }}

          {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
            title=(localize 'macros.combat.dialog.psychicProjection.title')
            disabled=this.defenseSent
            inputName="defender.psychic.psychicProjection"
            inputValue=this.defender.psychic.psychicProjection
          }}

          {{#if this.defender.psychic.supernaturalShield.newShield}}
            {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              title=(localize 'macros.combat.dialog.psychicPotential.title')
              disabled=this.defenseSent
              inputName="defender.psychic.psychicPotential.special"
              inputValue=this.defender.psychic.psychicPotential.special
              hasSecondaryInput=true
              disableSecondaryInput=true
              secondaryInputName="defender.psychic.psychicPotential.final"
              secondaryInputValue=this.defender.psychic.psychicPotential.final
            }}

            {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
              title=(localize 'macros.combat.dialog.psychicPower.title')
              disabled=this.defenseSent
              inputName='defender.psychic.powerUsed'
            }}
              {{#each_when this.defender.actor.system.psychic.psychicPowers "system" "combatType" "value" "defense"}}
                <option {{#if (is "eq" this._id ../this.defender.psychic.powerUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
              {{/each_when}}
            {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

            {{#if (and (is 'gt' this.defender.actor.system.psychic.psychicPoints.value 0) (is 'eq' this.defender.actor.system.psychic.psychicSettings.fatigueResistance false))}}
              <div class='columns'>
                <div>
                  {{>
                    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                    title=(localize 'macros.combat.dialog.eliminateFatigue.title')
                    inputType="checkbox"
                    inputName="defender.psychic.eliminateFatigue"
                    inputValue=(is 'eq' this.defender.psychic.eliminateFatigue true)
                  }}
                </div>
              </div>
            {{/if}}

            {{#unless (isArrayEmpty this.defender.actor.system.psychic.mentalPatterns)}}
              <div class='columns'>
                <div>
                  {{>
                    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                    title=(localize 'macros.combat.dialog.mentalPatternImbalance.title')
                    inputType="checkbox"
                    inputName="defender.psychic.mentalPatternImbalance"
                    inputValue=(is 'eq' this.defender.psychic.mentalPatternImbalance true)
                  }}
                </div>
              </div>
            {{/unless}}
          {{else}}
            {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
              title=(localize 'macros.combat.dialog.psychicShield.title')
              disabled=this.defenseSent
              inputName='defender.psychic.supernaturalShield.shieldUsed'
            }}
              {{#each this.defender.actor.system.combat.supernaturalShields}}
                {{#if (is "eq" this.flags.animabf.supernaturalShield.type "psychic")}}
                  <option {{#if (is "eq" this._id ../this.defender.psychic.supernaturalShield.shieldUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
                {{/if}}
              {{/each}}
            {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

            {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              title=(localize "macros.combat.dialog.shieldValue.title")
              disabled=this.defenseSent
              inputName="defender.psychic.supernaturalShield.shieldValue"
              inputValue=this.defender.psychic.supernaturalShield.shieldValue
            }}
          {{/if}}

          <div class='columns'>
            <div>
              {{>
                "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                title=(localize 'macros.combat.dialog.newShield.title')
                inputType="checkbox"
                inputName="defender.psychic.supernaturalShield.newShield"
                inputValue=(is 'eq' defender.psychic.supernaturalShield.newShield true)
              }}
            </div>
          </div>

          {{#if this.defenseSent}}
            <div class='defense-sent'>
              {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
              <p class='label'>{{localize 'macros.combat.dialog.defenseSent.title'}}</p>
            </div>
          {{else}}
            <button class='animabf-button send-psychic-defense'>
              {{localize 'macros.combat.dialog.defenseButton.title'}}
            </button>
          {{/if}}
        </div>

      </section>

    {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
  {{/"systems/animabf/templates/common/ui/group.hbs"}}
</form>
